{% load static %}
<html>
    <head>
        <lik rel = "stylesheet" href = "{% static 'css/blog.css' %}"></lik>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <script>
            let step_title = [
                "1. Roll stats (능력치를 굴려요)",
                "2. 최대 건강",
                "3. 시작 특성",
                "4. 여섯가지 물품 선택",
                
            ]
                
            
                /*
                $(document).ready(function(){
                    $("button").click(function(){
                        $("#div1").load("demo_test.txt");
                    });
                });
                */
                //$.ajax({ url:'time/', data : { 'search_key':search_key}, success:function(data){ $('#data_table').html(data) } })
                /*
                $(function() {
                    
                    $('#AjaxStart').click(function() {

                        $.ajax({ 
                            url:'.', 
                            dataType: "json",
                            //type: 'POST',
                            //data: {'today': 1},
                            success: function(data){ $('#div1').html(data.time) }
                             
                        })
                    })
                })
*/
        </script>
    </head>
    <body>
        <div id = 'game_name'>
            <h1><B>Maze</B></h1>
        </div>
        <div id = 'page_name'>
            <h2><b>make character</b></h2>
        </div>
        <div id = 'step'>
            1 / 12
        </div>
        <div id = 'step_title'>
            step_title
        </div>
        <div id = 'step_contents'>
            step_contents
        </div>
    </body>
</html>
